.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/imgs/bg1.png");
  height: 24rem;
  padding: 5rem;
  font-size: 2.2rem;
  width: 100%;

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100rem;
    min-width: 100rem;

    &--row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    display: block;
    text-align: center;
    height: fit-content;

    &--container {
      display: block;
      min-width: 100%;
      height: fit-content;
  
      &--row {
        display: block;
        div{
          margin-bottom: 1rem;
        }
      }
    }
  }
}