<div class="footer">
  <div class="footer--container">
    <div class="footer--container--row">
      <div>Quem é Delivery2U</div>
      <div>Cadastre sua Loja</div>
    </div>
    <div class="footer--container--row">
      <div>Política e Privacidade</div>
      <div>Seja um Parceiro de Entregas!</div>
    </div>
    <div class="footer--container--row">
      <div>Fale Conosco</div>
      <div>falecom@delivery2u.com.br</div>
      <div>Seja dono do Delivery2U na sua Cidade!</div>
    </div>
  </div>
</div>
