.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--to-u-dark);

  width: 100vw;
  height: 7.5rem;

  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 140rem;
    width: 90%;

    &--logo {
      img {
        height: 4rem;
        min-width: 6.2rem;
      }
    }

    &--menu {
      color: var(--to-u-gray);
      font-size: 1.8rem;
      list-style: none;
      display: flex;

      &--item {
        margin: 0 1rem 1.5rem;
        cursor: pointer;
        transition: color .2s;
        list-style: none;
        text-align: center;

        &--selected {
          color: var(--to-u-yellow);
          font-weight: bold;
        }
      }
    }
  }
}

.toggle-menu {

}

.toggle-dropdown {
  display: none;

  &--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--to-u-dark);
    color: var(--to-u-gray);
    font-size: 2rem;
    overflow: hidden;
    height: 0;
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 100%;
    transition: height 10s;
  }

  ion-icon {
    color: white;
    font-size: 4rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: .5rem;

    &:active {
      background-color: white;
      color: black;
    }
  }
}

@media (max-width: 950px) {
  #checkbox:checked ~ .toggle-dropdown--menu{
    height: fit-content;
  }
  .toggle-dropdown {
    display: initial;
  }
  .toggle-menu {
    display: none;
  }
}
