.establishment {
  height: calc(100vh - var(--to-u-header-height));
  overflow-y: auto;
  overflow-x: hidden;

  @extend .scrollbar-vertical;

  &--header {
    width: 100%;
  }
  &--container {
    display: flex;
    justify-content: space-between;
    width: 100vw;

    &--side {
      width: 200%;

      img{
        width: 100%;
        height: auto;
      }
    }
    .right {
      margin-right: -20rem;
      transform: translateX(20rem);
    }
    .left {
      margin-left: -20rem;
      transform: translateX(-25rem);
    }

    &--main {
      margin-top: 5rem;
      width: 200%;
      &--title {
        font-size: 4rem;
        margin-bottom: 5rem;
        text-align: center;
      }
      &--form {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 90rem;
        background-color: var(--to-u-dark);
        padding: 3rem 3rem 9rem;
        border-radius: 4rem;

        &--title {
          color: var(--to-u-yellow);
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 2rem;
        }

        input, select {
          background-color: #323233;
          outline: none;
          color: rgba(255, 255, 255, .8);
          border: none;
          width: 100%;
          margin-bottom: 1.5rem;
          padding: 1rem;
          border-radius: .6rem;
          font-size: 1.2rem;
          font-weight: 100;

          &::placeholder {
            color: rgba(255, 255, 255, .8);
          }
        }
        input[type="checkbox"] {
          width: 2rem;
          margin: 0 1rem;
        }
      }
    }
  }
}

.yellow {
  font-weight: bold;
  color: var(--to-u-yellow);
}

.align {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.submit {
  align-self: center;
  margin-top: 2rem;
  background: var(--to-u-yellow);
  width: 30rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1.5rem;
  padding: .2rem;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
  &:active {
    background-color: white;
  }
}

.scrollbar-vertical {
  &::-webkit-scrollbar {
    display: initial !important;
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--to-u-yellow);
  }
}

@media (max-width: 1000px) {
  .establishment {

    &--container {
      display: flex;
      justify-content: space-between;
      width: 100vw;

      &--side {
        display: none;
      }

      &--main {

        &--title {

        }
        &--form {
          box-sizing: border-box;
          border-radius: 0;
          min-width: 100%;
        }
      }
    }
  }
}
