<div class="delivery">
  <div class="delivery--header">
    <img src="assets/imgs/delivery.svg">
  </div>

  <div class="delivery--container">
    <div class="delivery--container--side left">
      <img src="assets/imgs/side1.png">
      <img src="assets/imgs/side2.png">
    </div>

    <div class="delivery--container--main">
      <div class="delivery--container--main--title">Faça seu cadastro e comece fazer suas entregas!</div>
      <form class="delivery--container--main--form" [formGroup]="formGroup">
        <div class="delivery--container--main--form--title">Dados pessoais</div>
        <input type="text" placeholder="Nome" formControlName="firstName">
        <input type="text" placeholder="Sobrenome" formControlName="secondName">
        <input type="text" placeholder="Email" formControlName="email">
        <input type="text" placeholder="Senha" formControlName="password">
        <input type="text" placeholder="Confirmar senha" formControlName="confirmPassword">
        <input type="text" placeholder="Celular" formControlName="phone">
        <input type="text" placeholder="RG" formControlName="rg">
        <input type="text" placeholder="CNPJ" formControlName="cnpj">
        <input type="text" placeholder="Cidade de atuação" formControlName="city">
        <div class="delivery--container--main--form--title">Dados Bancários</div>
        <input type="text" placeholder="Banco" formControlName="bank">
        <input type="text" placeholder="Tipo de conta" formControlName="accountType">
        <input type="text" placeholder="Agencia" formControlName="agency">
        <input type="text" placeholder="Nome" formControlName="name">
        <input type="text" placeholder="CPF" formControlName="cpf">
        <div class="delivery--container--main--form--title">Dados do veiculo</div>
        <input type="text" placeholder="Tipo de veiculo" formControlName="vehicle">
        <input type="text" placeholder="Cor do veiculo" formControlName="vehicleColor">
        <input type="text" placeholder="Placa do veiculo" formControlName="board">
        <input type="text" placeholder="Foto da habilitação" formControlName="cnh">
        <input type="text" placeholder="Foto do documento do veiculo" formControlName="vehicleDoc">
        <input type="text" placeholder="Sua foto com a CNH" formControlName="photo">

        <div class="align">
          <input formControlName="terms" type="checkbox"><span>Li e aceito os <span class="yellow">Termos do contrato</span></span>
        </div>

        <div class="submit" (click)="onSubmit()">
          Enviar
        </div>

        <span *ngIf="error" style="color: white">Ocorreu um erro, estamos sem api</span>
      </form>
    </div>

    <div class="delivery--container--side right">
      <img src="assets/imgs/side1.png">
      <img src="assets/imgs/side2.png">
    </div>
  </div>

</div>
