<div class="delivery">
  <div class="delivery--header">
    <img src="assets/imgs/delivery.svg">
  </div>

  <div class="delivery--container">
    <div class="delivery--container--side left">
      <img src="assets/imgs/side1.png">
      <img src="assets/imgs/side2.png">
    </div>

    <div class="delivery--container--main">
      <div class="delivery--container--main--title">Faça seu cadastro e comece fazer suas entregas!</div>
      <form class="delivery--container--main--form" [formGroup]="formGroup">
        <div class="delivery--container--main--form--title">Dados pessoais</div>
        <input type="text" placeholder="Nome" formControlName="firstName">
        <input type="text" placeholder="Sobrenome" formControlName="secondName">
        <input type="text" placeholder="Email" formControlName="email">
        <input type="password" placeholder="Senha" formControlName="password">
        <input type="password" placeholder="Confirmar senha" formControlName="confirmPassword">
        <input type="text" placeholder="Celular" formControlName="phone">
        <input type="text" placeholder="RG" formControlName="rg">
        <input type="text" placeholder="CNPJ" formControlName="cnpj">
        <input type="text" placeholder="Cidade de atuação" formControlName="city">
        <div class="delivery--container--main--form--title">Dados Bancários</div>
        <input type="text" placeholder="Banco" formControlName="bank">
        <input type="text" placeholder="Tipo de conta" formControlName="accountType">
        <input type="text" placeholder="Agencia" formControlName="agency">
        <input type="text" placeholder="Nome" formControlName="name">
        <input type="text" placeholder="CPF" formControlName="cpf">
        <div class="delivery--container--main--form--title">Dados do veiculo</div>
        <input type="text" placeholder="Tipo de veiculo" formControlName="vehicle">
        <input type="text" placeholder="Cor do veiculo" formControlName="vehicleColor">
        <input type="text" placeholder="Placa do veiculo" formControlName="board">

        <label class="input" for="cnhInput">
          <span id="cnhInputText">Foto da habilitação</span>
          <ion-icon src="assets/imgs/file.svg"></ion-icon>
        </label>
        <input class="d-none" (change)="onUploadImage($event)" id="cnhInput" type="file"><!-- cnh -->

        <label class="input" for="vehicleDocInput">
          <span id="vehicleDocInputText">Foto do documento do veiculo</span>
          <ion-icon src="assets/imgs/file.svg"></ion-icon>
        </label>
        <input class="d-none" (change)="onUploadImage($event)" id="vehicleDocInput" type="file"><!-- vehicleDoc -->

        <label class="input" for="photoInput">
          <span id="photoInputText">Sua foto com a CNH</span>
          <ion-icon src="assets/imgs/file.svg"></ion-icon>
        </label>
        <input class="d-none" (change)="onUploadImage($event)" id="photoInput" type="file" ><!-- photo -->

        <div class="align">
          <input formControlName="terms" type="checkbox"><span>Li e aceito os <span class="yellow">Termos do contrato</span></span>
        </div>

        <div class="submit" (click)="onSubmit()">
          Enviar
        </div>

        <span *ngIf="error" style="color: white; text-align: center; width: 100%">Dados invalidos</span>
      </form>
    </div>

    <div class="delivery--container--side right">
      <img src="assets/imgs/side1.png">
      <img src="assets/imgs/side2.png">
    </div>
  </div>

  <app-footer></app-footer>

</div>
